# infrastructure/minio/docker-compose.yml
services:
  minio:
    image: minio/minio:latest
    container_name: alecia-minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_SERVER_URL: https://s3.alecia.fr
      MINIO_BROWSER_REDIRECT_URL: https://storage.alecia.fr
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
volumes:
  minio_data:
